.maincolumn {
    max-width: 25rem;
    margin: auto;
    padding: 1rem
}
.jumbotron {
    background-color: rgba(171, 209, 243, 0.8);
}
.jumbotron a {
    color: black;
}
.icon {
    width: 40px;
    height: 40px;
}
h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3.5rem
}
h2, h3 {
    font-family: "Lucida Console", Monaco, monospace
}
.card {
    border: 1px solid rgb(171, 209, 243);
}
.error {
    color: red;
    font-size: 1rem;
}
.success {
    color: green;
    font-size: 1.2rem;
}