<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head th:replace="fragments/head :: head(title='Done')">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <nav th:replace="fragments/navigation :: navbar"></nav>
        
        <div class='container-fluid text-center'>
            <div th:replace="fragments/title :: title(text='Thank you for your order')"></div>
        </div>
        
        <div th:replace='fragments/footer :: footer'></div>
        <div th:replace="fragments/footer :: enableBootstrapJavascript" th:remove="tag"></div>
    </body>
</html>
