<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head th:replace="fragments/head :: head(title='Post')">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <nav th:replace="fragments/navigation :: navbar"></nav>
        
        <div class='container-fluid text-center'>
            <div th:replace="fragments/title :: title(text='Write a story to Cyber Security Forum')"></div>
            
            <div class='row'>
                <div class='col maincolumn'>
                    <form class="justify-content-center" action="#" th:action="@{/posts}" method="POST">
                        <div class="form-group row">
                            <label>Title: </label>
                            <input class="form-control p-2" type="text" autofocus="true" name="title" placeholder="A title of your post" minlength="1" maxlength="50" required></input>
                        </div>
                        <div class="form-group row">
                            <label>Content: </label>
                            <textarea class="form-control p-2" style="height: 300px" name="content" placeholder="This is the place for your story" minlength="1" maxlength="5000" required></textarea>
                        </div>
                        <div class="form-group row">
                            <input class="form-control p-2 mt-4" name="submit" type="submit" value="Post" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div th:replace='fragments/footer :: footer'></div>
        <div th:replace="fragments/footer :: enableBootstrapJavascript" th:remove="tag"></div>
    </body>
</html>
