<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head th:replace="fragments/head :: head(title='Profile')">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <nav th:replace="fragments/navigation :: navbar"></nav>
        <div class='container-fluid text-center'>
            <div th:replace="fragments/title :: title(text=${user?.name + ' ''s profile'})"></div>
            
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <nav class="navbar">
                        <a class="nav-link disabled" th:href="@{/}">Change password</a>
                        <form th:action="@{/users/{id}(id=${user?.id})}" action="#" method="DELETE">
                            <input type="submit" value="Delete account" class="btn nav-link"></input>
                        </form>
                    </nav>
                </div>
            </div>
            <div class='row'>
                <div class='col maincolumn'>
                    <p>
                        This is your profile page, which contains some sensitive information
                        such as your username, email, etc. This should be only visible to YOU.
                    </p>
                </div>
            </div>
             <div class='row'>
                <div class='col maincolumn'>
                    <h2>YOUR POSTS</h2>
                    <div th:replace="fragments/posts :: posts(posts=${user?.posts})"></div>
                </div>
            </div>
        </div>
        
        <div th:replace='fragments/footer :: footer'></div>
        <div th:replace="fragments/footer :: enableBootstrapJavascript" th:remove="tag"></div>
    </body>
</html>