<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head th:replace="fragments/head :: head(title='Profile')">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <nav th:replace="fragments/navigation :: navbar"></nav>
        <div class='container-fluid'>
            <div th:replace="fragments/title :: title(text=${user?.name + ' ''s profile'})"></div>
            
            <div class="row m-2">
                <div class="col d-flex justify-content-center">
                    <nav class="navbar d-flex justify-content-center">
                        <a class="nav-link disabled" th:href="@{/}">Change password</a>
                        <form th:action="@{/users/{id}(id=${user?.id})}" action="#" th:method="DELETE">
                            <input type="submit" value="Delete account" class="btn nav-link"></input>
                        </form>
                    </nav>
                </div>
            </div>
            <div class='row m-2'>
                <div class='col-12 col-md-4'>
                    <h2 class='text-center'>PROFILE</h2>
                    <div class='card m-2 text-center'>
                        <div class='card-body'>
                            <h4 class='card-title'>
                                Your motto
                            </h4>
                            <p class='card-text'>
                                There is always time for a beer
                            </p>
                            <footer class="blockquote-footer" th:text="${user?.name}"></footer>
                        </div>
                    </div>
                    
                </div>
                <div class='col-12 col-md-8'>
                    <h2 class='text-center'>YOUR POSTS</h2>
                    <div th:replace="fragments/posts :: posts(posts=${user?.posts})"></div>
                </div>
            </div>
        </div>
        
        <div th:replace='fragments/footer :: footer'></div>
        <div th:replace="fragments/footer :: enableBootstrapJavascript" th:remove="tag"></div>
    </body>
</html>